<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<style>-->
<!--    div:hover-->
<!--    {-->
<!--    background-color:black;-->
<!--    color:white;-->
<!--    }-->

<!--    input:hover-->
<!--    {-->
<!--    background-color:#ffffcc;-->
<!--    }-->
<!--</style>-->
<center><h5 style="margin-top:50px;">Students Registration Form</h5></center>
<center>
<div class="container m-5 p-3">
<form method="POST" style="margin-bottom:100px;padding:100px;">
    {% csrf_token %}
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Username" name="u">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password:</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password" name="p1">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Confirm Password:</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password Again" name="p2">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">First Name:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter First name" name="f">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter last name" name="l">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mail id:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="e">
</div>


          <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mobile Number:</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="enter your mobile number" name="m">
</div>


          <div class="mb-3">
  <input type="submit" class="form-control" id="s">
</div>

</form>
</div>
    </center>
{% endblock %}