<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_student %}
{% for i in t %}
<div class="card border-success m-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success fw-bolder text-danger">{{i.subject}}</div>
    <div class="card-header bg-transparent border-success"><a class="btn btn-dark" href="{% url 'assignment:uploadassignment' i.subject %}">Upload</a></div>
</div>
    {% endfor %}
{% else %}
<center><h3>Only students are allowed to upload an assignment</h3></center>
{% endif %}
{% endblock %}